{% extends 'store/base.html' %}
{%load static%}
{%block base%}

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="#">Mobile Phones</a></li>
                        <li><a href="#">Mobile Accesories</a></li>

                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Oppo
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Vivo
                                <input type="checkbox" id="bc-diesel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Xiaomi
                                <input type="checkbox" id="bc-polo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Samsung
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Nokia
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Motorola
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                            data-min="0" data-max="10000">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        </div>
                    </div>
                    <a href="#" class="filter-btn">Filter</a>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-list">
                    <div class="row">
                        {% for item in products %}
                        <div class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="{{item.image.url}}" alt="image not found">
                                    {% if item.available %}
                                    <div class="sale pp-sale" style="background-color: green;">In Stock</div>
                                    {% else %}
                                    <div class="sale pp-sale" style="background-color: red;">Out of Stock</div>
                                    {% endif %}
                                    <ul>
                                        {% if item.available %}
                                        <li class="w-icon active"><a data-product="{{item.id}}" data-action="add"
                                                class="btn btn-outline-secondary add-btn update-cart"><i
                                                    class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view">
                                            <form action="{% url 'product-detail' item.id %}"><button
                                                    type="submit"><a>Quick View</a></button></form>
                                        </li>
                                        {% else %}
                                        <li class="quick-view">
                                            <form action="{% url 'product-detail' item.id %}"><button
                                                    type="submit"><a>Quick View</a></button></form>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">{{item.brand}}</div>
                                    <a href="product.html">
                                        <h5>{{item.name}}</h5>
                                    </a>
                                    <div class="product-price">
                                        ₹{{item.price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

{% endblock %}